* {
  // background-color: red;
  // transition: all 0.9s ease;
}
.container > div{
  display: flex;
  flex-wrap: wrap;
  // transition: all 0.9s ease;
}
.top {
  // display: flex;
  // transition: all 0.9s ease;
  width: 20%;
  @include small-media {
    width: 100%;
  }
  @include medium-media {
    width: 50%;
  }
  @include large-media {
    width: 25%;
  }
  article, img{
    width: 100%;
  }
  img {
    height: 300px;
    object-fit: cover;
    vertical-align: middle;
    filter: brightness(50%);
    filter: blur(3px);
    transition: all 0.1s ease;
  }
  article {
    // transition: all 0.9s ease;
    position: relative;
    overflow: hidden;
    & > div{
      transition: all 0.1s ease;
      
      position: absolute;
      z-index: 3;
      bottom: 0px;
      width: 100%;
      // height: 100%;
      background: $color-on-pict;
      padding: 6px;
      // bottom: -50%;
      //top: 50%;
      // left: 50%;
      transform: translateY(100%);

      & > p{
        color: $color-black;
        font-size: $date-font-size;
      }
      & > p.title {
        padding-top: 6px;
        font-size: $title-font-size;
      }
    }
  }
/*    &:hover{
      & > div {
        transform: translateY(0%);
      }
      & img {
        filter: brightness(100%);
        filter: blur(0px);
      }
    }
  }*/
}
.top:hover, .top.scroll-active{
  div {
    transform: translateY(0%);
  }
  img {
    filter: brightness(100%);
    filter: blur(0px);
  }
}
