// TOP画像部分
.top-img-section{
  text-align: center;
  position: relative;
  img {
    width: 100%;
    max-width: $break-point-large;
  }
  p {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: left;
    line-height: 36px;
    font-size: 1.2rem;
  }
  @include larger-media{
    p {
      font-size: 1rem;
      top: 36px;
      left: 12px;
      line-height: 30px;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
}

// 本文部分
.top-index{
  section.works-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: $break-point-large;
  }
  section:not(.top-img-section) > p {
    font-size: 2rem;
    padding: $padding-right-left-sp 0px;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .top {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px 20px;
    @include smaller-media {
      width: 50%;
      &:nth-child(2n) {
        padding-left: 10px;
      }
      &:nth-child(2n+1) {
        padding-right: 10px;
      }
    }
    article, img{
      width: 100%;
    }
    img {
      height: 300px;
      object-fit: cover;
      vertical-align: middle;
      filter: brightness(50%);
      filter: blur(3px);
      transition: all 0.1s ease;
    }
    article {
      // transition: all 0.9s ease;
      position: relative;
      overflow: hidden;
      & > div{
        transition: all 0.8s ease;

        position: absolute;
        z-index: 3;
        bottom: 0px;
        width: 100%;
        // height: 100%;
        background: $color-on-pict;
        padding: 6px;
        // bottom: -50%;
        //top: 50%;
        // left: 50%;
        transform: translateY(100%);

        & > p{
          color: $color-black;
          font-size: $date-font-size;
        }
        & > p.title {
          padding-top: 6px;
          font-size: $title-font-size;
        }
      }
    }
  }
}

// スクロールでアクティブになる処理
.top.scroll-active{
  & > a > article.not-display-before-load.loaded > div {
    // 初期読み込みタイミングで下にすっと動いてしまうので
    // .not-display-before-load.loadedを加えている。
    transform: translateY(0%);
  }
  img {
    filter: brightness(100%);
    filter: blur(0px);
  }
}

.not-display-before-load{
  opacity: 0;
  visibility: hidden;
  transition: all 0.9s ease-in-out;
  &.loaded{
    visibility: visible;
    opacity: 1;
  }
}
.top-img-section{
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  &.top-loaded{
    visibility: visible;
    opacity: 1;
  }
  & + .works-section{
    p {
      opacity: 0;
      visibility: hidden;
      transition: all 1.0s ease-out;
    }
  }
  &.top-loaded + .works-section{
    p{
      opacity: 1;
      visibility: visible;
    }
  }
}

