.slug.work{
  .right {
    float: right;
  }
  .clear{
    clear: both;
  }
  .pictures{
    width: 100%;
    
    img{
      width: 100%;
    }
    .over-three{
      width: 100%;
      display: block;
    }
    @include smaller-media{
      .over-three {
        display: flex;

        li{
          width: 33%;
        }
        
      }
     
    }
  }
  .row-li{
    display: flex;
    flex-wrap: wrap;

    li{
      margin-right: 3px;
    }
  }
  .gray-li{
    li {
      background-color: $color-lightgray;
      padding: 3px 6px;
      border-radius: 6px;
      margin-bottom: 6px;
    }
  }
}